.post-wrapper {
  display: flex;
  padding: 0 15px;
  flex-flow: row wrap;
  justify-content: space-between;


}

.post {
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.5s ease, background 0.5s ease;
  margin: 10px;
  position: relative;
  overflow: hidden;
  flex: 1 auto;
  flex-basis: 300px;


  &:hover {
    transform: scale(1.05);
    z-index: 2;
  }

  &.is-active {
    background: $dark-skin;
  }
}

.post__title {
  font-size: 1em;
}

.post__content {
}

.main { flex: 2 0px; }

.aside-1 { order: 1; }
.main    { order: 2; }
.aside-2 { order: 3; }
.footer  { order: 4; }
